#title,
.bg-info {
    font-family: 'Tangerine', serif;
    font-size: 45px;
    text-shadow: 4px 4px 4px #aaa;
}

.plus {
    width: 15%;
    font-weight: bolder;
}

.bg-info {
    background-color: #99e6ff !important;
}